## Project 5 - Data Cleaning

### Import libraries

In [1]:
import pandas as pd
import math

### Load data

In [2]:
df = pd.read_csv('yemen.csv', encoding='cp1252')

### Checkout null values

In [3]:
df.isnull().sum()

Incident ID                0
Date                       0
Governorate                0
District                 238
Area                    3299
Target                     0
Main category              0
Sub-category               0
Min Air Raids              0
Max Air Raids              2
Civilian Casualties        0
Fatalities                 0
Woman fatalities           0
Child fatalities           0
Injured                    0
Woman injured              0
Child injured              2
 Confirmed Time          146
Time of Day                0
Unnamed: 19            22360
Unnamed: 20            22360
Unnamed: 21            22360
Unnamed: 22            22436
dtype: int64

**Drop Columns:** 
- Unnamed: 19 
- Unnamed: 20 
- Unnamed: 21 
- Unnamed: 22 

These columns are mainly missing values and the information in the non-missing cells is duplicated in other columns.

In [4]:
df.drop(columns = ['Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22'], inplace=True)

In [5]:
len(df['Area'].unique())

5805

In [6]:
#df = df.drop(columns=['Unnamed: 19', 'Unnamed: 20',
#       'Unnamed: 21', 'Unnamed: 22'])

In [7]:
# df['Child injured'] = df['Child injured'].fillna(df['Child injured'].mean())
# df['Max Air Raids'] = df['Max Air Raids'].fillna(df['Max Air Raids'].mean())

In [8]:
df['Civilian Casualties'].value_counts()

0      20667
2        224
5        212
1        199
3        194
       ...
77         1
101        1
85         1
100        1
95         1
Name: Civilian Casualties, Length: 89, dtype: int64

In [9]:
df['Main category'].value_counts()

Unknown                     8496
Military_Security_Target    7385
Civilian                    2879
Infrastructure              1447
Economic_infrastructure     1080
Economic_Infrastructure      298
Political_Tribal             294
Educational_facility         240
Educational_Facility         150
Cultural_heritage             73
Medical_Facility              60
Medical_facility              26
Media                         24
international_community       13
Political_Tribal              11
International_community        6
cultural_heritage              2
International_Community        1
Name: Main category, dtype: int64

### Clean up columns

#### Column names

In [10]:
# Clean up column names: Remove spaces, make lowercase, replace space with underscore
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('-','_')

In [11]:
df.columns

Index(['incident_id', 'date', 'governorate', 'district', 'area', 'target',
       'main_category', 'sub_category', 'min_air_raids', 'max_air_raids',
       'civilian_casualties', 'fatalities', 'woman_fatalities',
       'child_fatalities', 'injured', 'woman_injured', 'child_injured',
       'confirmed_time', 'time_of_day'],
      dtype='object')

#### Column values

In [12]:
# date: make index and convert to datetime 
df.set_index('date', inplace=True)
df.index = pd.to_datetime(df.index)
df.index

DatetimeIndex(['2015-03-26', '2015-03-26', '2015-03-26', '2015-03-26',
               '2015-03-26', '2015-03-26', '2015-03-26', '2015-03-26',
               '2015-03-26', '2015-03-26',
               ...
               '2020-12-29', '2020-12-30', '2020-12-30', '2020-12-30',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31'],
              dtype='datetime64[ns]', name='date', length=22485, freq=None)

In [13]:
# incident id

In [14]:
df[df['governorate'] == 'sanaa']

Empty DataFrame
Columns: [incident_id, governorate, district, area, target, main_category, sub_category, min_air_raids, max_air_raids, civilian_casualties, fatalities, woman_fatalities, child_fatalities, injured, woman_injured, child_injured, confirmed_time, time_of_day]
Index: []

In [15]:
# governorate
df['governorate'].value_counts()

Saada        5199
Taiz         2661
Sanaa        2568
Hajja        2429
Marib        2248
Hudaydah     1811
Capital      1418
Jawf         1284
Bayda         576
Amran         451
Lahj          395
Shabwa        320
Aden          293
Ibb           266
Dhalie        200
Dhamar        183
Abyan          85
Mahwit         72
Raymah         12
Hadramawt       8
Maharah         2
Marib           2
lahj            2
Name: governorate, dtype: int64

In [16]:
# district
district_list = []
for value in df['district']:
    value = str(value).lower().strip()
    district_list.append(value)

df['district'] = district_list

In [17]:
# area
df['area'] = df['area'].fillna('Unknown')

In [18]:
# target
df['target'].value_counts()

Unknown                                                 8364
Pro-Houthi forces                                       2123
Residential Area                                         590
Pro-Houthi sites                                         403
Pro-Houthi positions                                     396
                                                        ...
House (reportedly belonging to sheikh Ali Al-Jaradi)       1
Al-Shatab bridge                                           1
Zaid Al-Faraj house                                        1
Dar Al-Nasr Military Camp                                  1
Agricultural nursery                                       1
Name: target, Length: 2884, dtype: int64

In [19]:
# main_category
main_category_list = []
for value in df['main_category']:
    value = value.lower().strip()
    main_category_list.append(value)
df['main_category'] = main_category_list

In [20]:
# sub-category
sub_category_list = []
for value in df['sub_category']:
    value = value.lower().strip()
    sub_category_list.append(value)
df['sub_category'] = sub_category_list

In [21]:
# min_air_raids
df['min_air_raids'].isnull().sum()

0

In [22]:
# max_air_raids
max_air_raids = []
for value in df['max_air_raids']:
    if value == '2,2':
        val = 2
    elif value != '-' and type(value) != float:
        val = int(value.strip('+'))
    elif type(value) == float:
        val = value
    else:
        val = 0
    max_air_raids.append(val)
df['max_air_raids'] = max_air_raids
df['max_air_raids'] = df['max_air_raids'].fillna(df['max_air_raids'].median())

In [23]:
# civilian_casualties
df['civilian_casualties'].isnull().sum()

0

In [24]:
# fatalities
df['fatalities'].isnull().sum()

0

In [25]:
# woman_fatalities
df['woman_fatalities'].isnull().sum()

0

In [26]:
# child_fatalities
df['child_fatalities'].isnull().sum()

0

In [27]:
# injured
df['injured'].isnull().sum()

0

In [28]:
# woman_injured
df['woman_injured'].isnull().sum()

0

In [29]:
# child_injured
df['child_injured'] = df['child_injured'].fillna(df['child_injured'].median())

In [30]:
# confirmed_time
df['confirmed_time'] = df['confirmed_time'].replace(
    {'Unkn': 'Unknown', 'unkn': 'Unknown', '41': 'Unknown'}).fillna('18')

In [31]:
df[df['confirmed_time'] == 'Unknown']

,incident_id,governorate,district,area,target,main_category,sub_category,min_air_raids,max_air_raids,civilian_casualties,fatalities,woman_fatalities,child_fatalities,injured,woman_injured,child_injured,confirmed_time,time_of_day
date,,,,,,,,,,,,,,,,,,
2015-03-26,9,Sanaa,arhab,Al-Sama'a,Al-Sama'a Military Camp,military_security_target,military site,1,2.0,0,0,0,0,0,0,0.0,Unknown,Afternoon
2015-03-26,19,Hajja,washhah,-,Haqqah School,educational_facility,school,1,2.0,0,0,0,0,0,0,0.0,Unknown,Afternoon
2015-03-26,20,Hajja,washhah,"Samir, Shammakh mountains",Unknown,unknown,unknown,1,2.0,0,0,0,0,0,0,0.0,Unknown,Afternoon
2015-03-26,23,Saada,haydan,Marran,Houses (reportedly belonging to the Houthis le...,political_tribal,figure,1,2.0,0,0,0,0,0,0,0.0,Unknown,Early-Morning
2015-03-26,24,Saada,haydan,Maa,Weapons Storage,military_security_target,weapon storage,1,2.0,0,0,0,0,0,0,0.0,Unknown,Early-Morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24,22450,Bayda,al-maljim,Unknown,Pro-Houthi reinforcements,military_security_target,moving target (weapons/fighters),1,2.0,0,0,0,0,0,0,0.0,Unknown,Unknown
2020-12-24,22451,Hajja,hayran,Unknown,Pro-Houthi positions,military_security_target,forces,1,2.0,0,0,0,0,0,0,0.0,Unknown,Unknown
2020-12-25,22453,Marib,jabal murad,Unknown,Pro-Houthi positions,military_security_target,forces,1,3.0,0,0,0,0,0,0,0.0,Unknown,Unknown
2020-12-27,22458,Marib,mahalih,Unknown,Pro-Houthi positions,military_security_target,forces,1,1.0,0,0,0,0,0,0,0.0,Unknown,Unknown
2020-12-27,22459,Marib,jabal murad,Unknown,Pro-Houthi positions,military_security_target,forces,1,1.0,0,0,0,0,0,0,0.0,Unknown,Early-Morning

In [32]:
#confirmed_time_list = []
#for value in list(zip(df['confirmed_time'], df['time_of_day'])):
#    if value[0] != 'Unknown' or type(value[0]) == object or type(value[0]) == str:
#        val = value[0]
#    elif math.isnan(value[0]) == True:
#        val = 18
#    elif value[0] == 'Unknown':
#        if value[1].lower().strip() == 'early-morning':
#            val = 3
#        elif value[1].lower().strip() == 'morning':
#            val = 7
#        elif value[1].lower().strip() == 'midday':
#            val = 11 
#        elif value[1].lower().strip() == 'afternoon':
#            val = 14
#        elif value[1].lower().strip() == 'evening':
#            val = 18
#        elif value[1].lower().strip() == 'night':
#            val = 22
#    confirmed_time_list.append(val)
#
#df['confirmed_time'] = confirmed_time_list

#Anyone wants to mess with this to fill 146/22500 values feel free haha

In [33]:
# time_of_day 
df['time_of_day'] = df['time_of_day'].str.lower()
df['time_of_day'] = df['time_of_day'].replace([' midday'], 'afternoon')
df['time_of_day'] = df['time_of_day'].replace(['midday'], 'afternoon')
df['time_of_day'] = df['time_of_day'].replace(['evening'], 'night')
df['time_of_day'] = df['time_of_day'].replace(['early-morning'], 'morning')
df['time_of_day'] = df['time_of_day'].replace(['early morning'], 'morning')

In [34]:
df.head()

,incident_id,governorate,district,area,target,main_category,sub_category,min_air_raids,max_air_raids,civilian_casualties,fatalities,woman_fatalities,child_fatalities,injured,woman_injured,child_injured,confirmed_time,time_of_day
date,,,,,,,,,,,,,,,,,,
2015-03-26,1,Capital,bani al-harith,Al-Rahabah,Al-Daylami Airbase,military_security_target,military site,1,2.0,0,0,0,0,0,0,0.0,2,morning
2015-03-26,2,Capital,bani al-harith,Airport,Sana'a International Airport,infrastructure,transport,1,2.0,0,0,0,0,0,0,0.0,2,morning
2015-03-26,3,Capital,bani al-harith,Al-Sonblah Neighbourhood,Residential Area,civilian,residential area,1,2.0,29,21,3,14,8,0,7.0,2,morning
2015-03-26,4,Capital,al-sab'ein,Al-Nahdain,Presidential Palace,military_security_target,military site,1,2.0,0,0,0,0,0,0,0.0,3,morning
2015-03-26,5,Capital,al-thawrah,Al-Nahdhah,Former 1st Armoured Division,military_security_target,military site,1,2.0,0,0,0,0,0,0,0.0,3,morning

In [35]:
df.dtypes

incident_id              int64
governorate             object
district                object
area                    object
target                  object
main_category           object
sub_category            object
min_air_raids            int64
max_air_raids          float64
civilian_casualties      int64
fatalities               int64
woman_fatalities         int64
child_fatalities         int64
injured                  int64
woman_injured            int64
child_injured          float64
confirmed_time          object
time_of_day             object
dtype: object

In [37]:
df.to_csv('clean_df.csv')