In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('yemen.csv', encoding='cp1252')

In [3]:
df.isnull().sum()

Incident ID                0
Date                       0
Governorate                0
District                 238
Area                    3299
Target                     0
Main category              0
Sub-category               0
Min Air Raids              0
Max Air Raids              2
Civilian Casualties        0
Fatalities                 0
Woman fatalities           0
Child fatalities           0
Injured                    0
Woman injured              0
Child injured              2
 Confirmed Time          146
Time of Day                0
Unnamed: 19            22360
Unnamed: 20            22360
Unnamed: 21            22360
Unnamed: 22            22436
dtype: int64

In [4]:
len(df['Area'].unique())

5805

In [5]:
df.columns

Index(['Incident ID', 'Date', 'Governorate', 'District', 'Area', 'Target',
       'Main category', 'Sub-category', 'Min Air Raids', 'Max Air Raids',
       'Civilian Casualties', 'Fatalities ', 'Woman fatalities',
       'Child fatalities', 'Injured ', 'Woman injured', 'Child injured',
       ' Confirmed Time', 'Time of Day', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [ ]:
#df = df.drop(columns=['Unnamed: 19', 'Unnamed: 20',
#       'Unnamed: 21', 'Unnamed: 22'])

In [6]:
pd.set_option('display.max_columns', None)
df.head()

,Incident ID,Date,Governorate,District,Area,Target,Main category,Sub-category,Min Air Raids,Max Air Raids,Civilian Casualties,Fatalities,Woman fatalities,Child fatalities,Injured,Woman injured,Child injured,Confirmed Time,Time of Day,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,1,26/03/2015,Capital,Bani Al-Harith,Al-Rahabah,Al-Daylami Airbase,Military_Security_Target,Military Site,1,2,0,0,0,0,0,0,0.0,2,Early-Morning,NaN,NaN,NaN,NaN
1,2,26/03/2015,Capital,Bani Al-Harith,Airport,Sana'a International Airport,Infrastructure,Transport,1,2,0,0,0,0,0,0,0.0,2,Early-Morning,NaN,NaN,NaN,NaN
2,3,26/03/2015,Capital,Bani Al-Harith,Al-Sonblah Neighbourhood,Residential Area,Civilian,Residential Area,1,2,29,21,3,14,8,0,7.0,2,Early-Morning,NaN,NaN,NaN,NaN
3,4,26/03/2015,Capital,Al-Sab'ein,Al-Nahdain,Presidential Palace,Military_Security_Target,Military Site,1,2,0,0,0,0,0,0,0.0,3,Early-Morning,NaN,NaN,NaN,NaN
4,5,26/03/2015,Capital,Al-Thawrah,Al-Nahdhah,Former 1st Armoured Division,Military_Security_Target,Military Site,1,2,0,0,0,0,0,0,0.0,3,Early-Morning,NaN,NaN,NaN,NaN

In [ ]:
# df['Child injured'] = df['Child injured'].fillna(df['Child injured'].mean())
# df['Max Air Raids'] = df['Max Air Raids'].fillna(df['Max Air Raids'].mean())

In [7]:
df['Civilian Casualties'].value_counts()

0      20667
2        224
5        212
1        199
3        194
       ...
77         1
101        1
85         1
100        1
95         1
Name: Civilian Casualties, Length: 89, dtype: int64

In [8]:
df[df['Max Air Raids'] == '2,2']

,Incident ID,Date,Governorate,District,Area,Target,Main category,Sub-category,Min Air Raids,Max Air Raids,Civilian Casualties,Fatalities,Woman fatalities,Child fatalities,Injured,Woman injured,Child injured,Confirmed Time,Time of Day,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
7126,7127,09/03/2016,Sanaa,Nihm,"Al-Madarij, Al-Madfon",Unknown,Unknown,Unknown,1,"2,2",0,0,0,0,0,0,0.0,23,Night,NaN,NaN,NaN,NaN

In [9]:
max_air_raids = []
for value in df['Max Air Raids']:
    if value == '2,2':
        val = 2
    elif value != '-' and type(value) != float:
        val = int(value.strip('+'))
    elif type(value) == float:
        val = value
    else:
        val = 0
    max_air_raids.append(val)
df['Max Air Raids'] = max_air_raids

In [10]:
df['Main category'].value_counts()

Unknown                     8496
Military_Security_Target    7385
Civilian                    2879
Infrastructure              1447
Economic_infrastructure     1080
Economic_Infrastructure      298
Political_Tribal             294
Educational_facility         240
Educational_Facility         150
Cultural_heritage             73
Medical_Facility              60
Medical_facility              26
Media                         24
international_community       13
Political_Tribal              11
International_community        6
cultural_heritage              2
International_Community        1
Name: Main category, dtype: int64

In [11]:
df['Target'].value_counts()

Unknown                                                            8364
Pro-Houthi forces                                                  2123
Residential Area                                                    590
Pro-Houthi sites                                                    403
Pro-Houthi positions                                                396
                                                                   ...
Pro-Houthi patrol                                                     1
The former president son Ahmed Ali office                             1
Near house (reportedly belonging to a Houthi leader Ali Jilhim)       1
Central security Military Camp                                        1
Moqis hospital                                                        1
Name: Target, Length: 2884, dtype: int64

In [12]:
df['Sub-category'].value_counts()

Unknown                          8500
Military Site                    3278
Forces                           2770
Residential Area                 1374
Residential area                  801
                                 ...
Diplomatic mission                  1
Food (Storage/transportation)       1
Other-Infrastructure                1
University                          1
Media                               1
Name: Sub-category, Length: 74, dtype: int64

In [13]:
df[df['Target'] == 'Unknown']

,Incident ID,Date,Governorate,District,Area,Target,Main category,Sub-category,Min Air Raids,Max Air Raids,Civilian Casualties,Fatalities,Woman fatalities,Child fatalities,Injured,Woman injured,Child injured,Confirmed Time,Time of Day,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
19,20,26/03/2015,Hajja,Washhah,"Samir, Shammakh mountains",Unknown,Unknown,Unknown,1,2.0,0,0,0,0,0,0,0.0,unkn,Afternoon,NaN,NaN,NaN,NaN
24,25,26/03/2015,Saada,Al-Dhaher,Al-Malaheet,Unknown,Unknown,Unknown,1,2.0,0,0,0,0,0,0,0.0,unkn,Early-Morning,NaN,NaN,NaN,NaN
26,27,26/03/2015,Saada,Majz,Dhahyan,Unknown,Unknown,Unknown,1,2.0,0,0,0,0,0,0,0.0,15,Afternoon,NaN,NaN,NaN,NaN
27,28,26/03/2015,Saada,Al-Safra'a,Al-Naqa'ah,Unknown,Unknown,Unknown,1,2.0,0,0,0,0,0,0,0.0,15,Afternoon,NaN,NaN,NaN,NaN
61,62,27/03/2015,Saada,Shada'a,-,Unknown,Unknown,Unknown,1,2.0,0,0,0,0,0,0,0.0,2,Early-Morning,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22476,22478,30/12/2020,Bayda,Radman,Qaniyah,Unknown,Unknown,Unknown,1,2.0,0,0,0,0,0,0,0.0,18,Evening,0.0,0,0,Qaniyah
22477,22479,30/12/2020,Marib,Mahalih,NaN,Unknown,Unknown,Unknown,1,1.0,0,0,0,0,0,0,0.0,18,Evening,0.0,0,0,NaN
22478,22480,30/12/2020,Saada,Al-Dhaher,NaN,Unknown,Unknown,Unknown,1,3.0,0,0,0,0,0,0,0.0,18,Evening,0.0,0,0,NaN
22482,22484,31/12/2020,Sanaa,Bani Hushaysh,Wadi Rijam,Unknown,Unknown,Unknown,1,2.0,0,0,0,0,0,0,0.0,3,Early-Morning,0.0,0,0,Wadi Rijam
22484,22486,31/12/2020,Marib,Medghal Al-Jeda'an,NaN,Unknown,Unknown,Unknown,1,4.0,0,0,0,0,0,0,0.0,18,Evening,0.0,0,0,NaN

In [14]:

df.set_index('Incident ID')

,Date,Governorate,District,Area,Target,Main category,Sub-category,Min Air Raids,Max Air Raids,Civilian Casualties,Fatalities,Woman fatalities,Child fatalities,Injured,Woman injured,Child injured,Confirmed Time,Time of Day,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
Incident ID,,,,,,,,,,,,,,,,,,,,,,
1,26/03/2015,Capital,Bani Al-Harith,Al-Rahabah,Al-Daylami Airbase,Military_Security_Target,Military Site,1,2.0,0,0,0,0,0,0,0.0,2,Early-Morning,NaN,NaN,NaN,NaN
2,26/03/2015,Capital,Bani Al-Harith,Airport,Sana'a International Airport,Infrastructure,Transport,1,2.0,0,0,0,0,0,0,0.0,2,Early-Morning,NaN,NaN,NaN,NaN
3,26/03/2015,Capital,Bani Al-Harith,Al-Sonblah Neighbourhood,Residential Area,Civilian,Residential Area,1,2.0,29,21,3,14,8,0,7.0,2,Early-Morning,NaN,NaN,NaN,NaN
4,26/03/2015,Capital,Al-Sab'ein,Al-Nahdain,Presidential Palace,Military_Security_Target,Military Site,1,2.0,0,0,0,0,0,0,0.0,3,Early-Morning,NaN,NaN,NaN,NaN
5,26/03/2015,Capital,Al-Thawrah,Al-Nahdhah,Former 1st Armoured Division,Military_Security_Target,Military Site,1,2.0,0,0,0,0,0,0,0.0,3,Early-Morning,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22482,31/12/2020,Sanaa,Sanhan,Raymat Humayd Military Camp,Raymat Humayd Military Camp,Military_Security_Target,Military site,1,5.0,0,0,0,0,0,0,0.0,1,Early-Morning,0.0,0,0,Raymat Humayd Military Camp
22483,31/12/2020,Sanaa,Sanhan,Raymat Humayd Military Camp,Raymat Humayd Military Camp,Military_Security_Target,Military site,1,2.0,0,0,0,0,0,0,0.0,2,Early-Morning,0.0,0,0,Raymat Humayd Military Camp
22484,31/12/2020,Sanaa,Bani Hushaysh,Wadi Rijam,Unknown,Unknown,Unknown,1,2.0,0,0,0,0,0,0,0.0,3,Early-Morning,0.0,0,0,Wadi Rijam
22485,31/12/2020,Capital,Bani Al-Harith,Ar Rahabah,Al-Daylami Air base,Military_Security_Target,Military site,1,1.0,0,0,0,0,0,0,0.0,1,Early-Morning,0.0,0,0,Ar Rahabah
22486,31/12/2020,Marib,Medghal Al-Jeda'an,NaN,Unknown,Unknown,Unknown,1,4.0,0,0,0,0,0,0,0.0,18,Evening,0.0,0,0,NaN

In [15]:
# Find if there are unkown targets and known target on same day in same area to check if duplicate
target_new = [df.loc[0]['Target']]
for i in range(1,df.shape[0]):
    if df.loc[i]['Date'] == df.loc[i-1]['Date'] and df.loc[i]['Target'] == 'Unknown' and df.loc[i]['Area'] == df.loc[i-1]['Area']:
        target_new.append(df.loc[i]['Target'] + '_dupe')
    else:
        target_new.append(df.loc[i]['Target'])

df['Target'] = target_new

In [16]:
df.Target.value_counts()

Unknown                                                            7544
Pro-Houthi forces                                                  2123
Unknown_dupe                                                        820
Residential Area                                                    590
Pro-Houthi sites                                                    403
                                                                   ...
Pro-Houthi patrol                                                     1
The former president son Ahmed Ali office                             1
Near house (reportedly belonging to a Houthi leader Ali Jilhim)       1
Central security Military Camp                                        1
Moqis hospital                                                        1
Name: Target, Length: 2885, dtype: int64

In [ ]:
# for col in df.columns:
#     df = df[(df[col] != 'Unknown')]
# df.shape

In [18]:
df['Governorate'].value_counts()

Saada        5199
Taiz         2661
Sanaa        2568
Hajja        2429
Marib        2248
Hudaydah     1811
Capital      1418
Jawf         1284
Bayda         576
Amran         451
Lahj          395
Shabwa        320
Aden          293
Ibb           266
Dhalie        200
Dhamar        183
Abyan          85
Mahwit         72
Raymah         12
Hadramawt       8
lahj            2
Marib           2
Maharah         2
Name: Governorate, dtype: int64

In [19]:
df.columns

Index(['Incident ID', 'Date', 'Governorate', 'District', 'Area', 'Target',
       'Main category', 'Sub-category', 'Min Air Raids', 'Max Air Raids',
       'Civilian Casualties', 'Fatalities ', 'Woman fatalities',
       'Child fatalities', 'Injured ', 'Woman injured', 'Child injured',
       ' Confirmed Time', 'Time of Day', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [21]:
pd.set_option('display.max_rows', 500)

In [22]:
df['District'].value_counts()

Sirwah                     1368
Nihm                       1026
Kitaf Wa Al-Boqe'e          944
Harad                       943
Baqim                       896
Al-Mukha                    647
Al-Dhaher                   594
Midi                        588
Razih                       581
Al-Sab'ein                  526
Sihar                       471
Khab Wa Al-Sha'af           440
Bani Matar                  398
Sa'ada                      396
Bani Al-Harith              351
Haydan                      339
Sanhan                      336
Majzar                      330
Dhubab                      327
Al-Durayhimi                284
Majz                        268
Abs                         264
Al-Thawrah                  262
Al-Taiziyah                 255
Salah                       246
Al-Maton                    235
Shada'a                     212
Mawza                       198
Maqbanah                    189
Al-Ghayl                    184
Al-Hali                     182
Al-Qabbaytah                176
Hamdan                      174
Usaylan                     170
Harf Sufyan                 169
Al-Salif                    166
Al-Maslub                   165
Mustaba                     162
Al-Khawkhah                 160
Al-Safra'a                  156
Bani Hushaysh               153
Al-Mudhaffar                149
Arhab                       146
Al-Tuhayat                  144
Saqain                      137
Al-Hazm                     136
Harad                       135
Al-Wazi'iyah                130
Medghal Al-Jeda'an          127
Marib                       120
Qatabah                     116
Hayran                      108
Monabbih                    102
Khor Maksar                 102
Bajil                        93
Bait Al-Faqih                93
Bilad Al-Rus                 93
Khadir                       92
Khawlan                      90
Tuban                        90
Bayhan                       88
Mukayras                     84
Al-Sawadiyah                 77
Al-Mina                      77
Nati'                        76
Mahalih                      76
Al-Madaribah Wa Al-Arah      74
Jabal Habashy                73
Kushar                       73
Harib Al-Garamish            72
Shu'oub                      72
Amran                        71
Hays                         71
Al-Hawak                     69
Radman                       69
Zabid                        67
Al-Jirahi                    65
Hayfan                       60
Al-Sabrah                    58
Ghamir                       57
Ma'ain                       56
Al-Dhalie                    54
Azal                         52
Rahabah                      51
Dhamar City                  50
Sabir Al-Mawadim             49
Al-Luhaiyah                  49
Kamaran                      48
Al-Bayda City                48
Al-Silw                      47
Bakil Al-Mir                 47
Huth                         44
Al-Wahdah                    44
Al-Haymah Al-Kharijiyah      44
Dar Sa'ad                    44
Ataq                         43
Al-Matmmah                   41
Ibb                          39
Al-Zahir                     39
Qaflah Odhr                  38
Al-Marawi'ah                 37
Crater                       37
Zinjibar                     37
Barat Al-Anan                37
Harib                        36
Mawiyah                      36
Al-Mualla                    35
Al-Misrakh                   33
Al-Maljim                    33
Attyal                       33
Al-Hudaydah City             33
Yarim                        32
Al-Radmah                    32
Dhawran Ans                  30
Dhi Al-Na'im                 29
Walad Rabie                  29
Al-Abdiyah                   28
Al-Qaherah                   27
Raydah                       25
Al-Tahrir                    24
Al-Qurayshiyah               23
Al-Dhuha                     22
Damt                         22
Manakhah                     22
Bani Sa'ad                   22
Al-Hawta                     21
Khanfir                      21
Al-Musyamir                  21
Al-Tawahi                    21
Ans                          20
Jabal Ras                    20
Iyal Surayh                  19
Rada'a                       18
Al-Makhader                  17
Al-Ma'afir                   17
Al-Buraiqah                  17
Khamir                       16
Al-Saddah                    16
Qatabir                      15
Mawza                        15
Shibam Kawkaban              15
Otmah                        15
Mayfa'at Ans                 14
Lawdar                       14
Al-Bayda                     13
Al-Hada                      13
Al-Taffah                    13
Jabal Al-Sharq               13
Bani Suraim                  12
Dhi Bin                      12
Al-Ashah                     12
Jihanah                      12
Ash Sheikh Othman            12
Ba'dan                       12
Al-Safiah                    11
Al-Munirah                   11
Al-Mahwit                    11
Jahran                       11
No'man                       11
Al-Mahabishah                11
Al-Mansoriyah                10
Bani Dhabyan                 10
Al-Humaydat                  10
Al-Haymah Al-Dakhiliyah      10
Hajja City                   10
Ash Sha'ir                   10
Jabal Murad                  10
Al-Mansourah                 10
Dhi As Sufal                  9
Bara'a                        9
Safan                         9
Al-Sukhnah                    9
Washhah                       9
Al-Qanawis                    9
Kharab Al-Marashi             9
Al-Zaydiyah                   8
Ash Shahil                    8
Al-Hashwah                    8
Al-Jubah                      8
Kahlan Ofar                   8
Al-Zuhrah                     8
Ain                           7
Al-Sawma'ah                   7
Al-Rajum                      7
Mabyan                        7
Hubaysh                       7
Al-Sayani                     6
Jiblah                        6
Al-Nadirah                    6
Shara'ab Al-Rawnah            6
Wisab Al-Safi                 6
Bani Qais Al-Toor             6
Sharis                        6
Old City                      6
Al-Madan                      6
Radfan                        5
Aflah Al-Sham                 5
Al-Udayn                      5
Al-Hujalah                    5
Maswar                        5
Kahlan Al-Sharaf              4
Al-Mahwit City                4
Al-Ja'fariyah                 4
Al-Khabt                      4
Hafash                        4
Al-Dhihar                     4
Khayran Al-Mahriq             4
Dhaybain                      4
Al-Mukalla                    4
AL-Sab'ein                    4
Jabal Iyal Bin Yazid          3
Dimnat Khadir                 3
Kasmah                        3
Qarah                         3
Thula'a                       3
Rudum                         3
Raghwan                       3
Al-Sawd                       3
Badbadah                      3
Al-Arsh                       3
Ash Shaghadirah               3
Al-Husha                      3
Samea                         3
Ash Shamayatain               3
Al-Hisn                       3
Milhan                        3
Mawdiyah                      3
Ku'aydanah                    3
Shara'ab Al-Salam             2
Bani AL-Harith                2
Markhah Al-Sawfla             2
Yafa'a                        2
Haban                         2
Hajja city                    2
Al-Wade'a                     2
Al-Abr                        2
Aflah Yamin                   2
Al-Shariyah                   2
Al-Tawilah                    2
Al-Hudaydah city              2
Al-Qafr                       2
Najrah                        2
Al-Jubain                     2
Al-Riashiyah                  2
Tor Al-Bahah                  2
Al-Hasha'a                    2
Al-Mahfad                     2
Bilad Al-Ta'am                2
Al-Manar                      2
Far Al-Udayn                  2
As Sabrah                     1
Ashah                         1
BakiL Al-Mir                  1
Mashra'ah Wa Hadnan           1
Bait Al-faqih                 1
Ahwar                         1
Maghrin Ans                   1
Dhubab                        1
Qafil Shamir                  1
Sayrah                        1
As Sawadiyah                  1
Hajja                         1
Juban                         1
Ash Shihr                     1
aBS                           1
Al-Salafiyah                  1
AL-Buraiqah                   1
Marib City                    1
Shadaa                        1
Hubayl Jabir                  1
Al-Mawasit                    1
Dhamar                        1
Wadharah                      1
Kharif                        1
Zulimah Habur                 1
Mudhykharah                   1
Shahan                        1
Al-Mughrabah                  1
Al-Rawdah                     1
Marran                        1
Al-Saeid                      1
Medghal                       1
Jailah                        1
Shiharah                      1
Rasad                         1
Al-mukha                      1
Saada                         1
Al-Ghaydah                    1
Name: District, dtype: int64

In [24]:
df['District'].isnull().sum()

238

In [26]:
df.head()

,Incident ID,Date,Governorate,District,Area,Target,Main category,Sub-category,Min Air Raids,Max Air Raids,Civilian Casualties,Fatalities,Woman fatalities,Child fatalities,Injured,Woman injured,Child injured,Confirmed Time,Time of Day,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,1,26/03/2015,Capital,Bani Al-Harith,Al-Rahabah,Al-Daylami Airbase,Military_Security_Target,Military Site,1,2.0,0,0,0,0,0,0,0.0,2,Early-Morning,NaN,NaN,NaN,NaN
1,2,26/03/2015,Capital,Bani Al-Harith,Airport,Sana'a International Airport,Infrastructure,Transport,1,2.0,0,0,0,0,0,0,0.0,2,Early-Morning,NaN,NaN,NaN,NaN
2,3,26/03/2015,Capital,Bani Al-Harith,Al-Sonblah Neighbourhood,Residential Area,Civilian,Residential Area,1,2.0,29,21,3,14,8,0,7.0,2,Early-Morning,NaN,NaN,NaN,NaN
3,4,26/03/2015,Capital,Al-Sab'ein,Al-Nahdain,Presidential Palace,Military_Security_Target,Military Site,1,2.0,0,0,0,0,0,0,0.0,3,Early-Morning,NaN,NaN,NaN,NaN
4,5,26/03/2015,Capital,Al-Thawrah,Al-Nahdhah,Former 1st Armoured Division,Military_Security_Target,Military Site,1,2.0,0,0,0,0,0,0,0.0,3,Early-Morning,NaN,NaN,NaN,NaN

In [27]:
pd.set_option('display.max_rows', 500)
df['Area'].value_counts()

-                                         4360
The City                                   250
Al-Nahdain                                 247
Al-Rahabah                                 177
Al-Omary                                   145
                                          ...
Om Sheikh                                    1
Al Jar                                       1
Al-Areesh (Al-Rihab rounabout)               1
Al Sawabie island                            1
Qarn Sofah, Al-Daqiq valley, Al-Noqoub       1
Name: Area, Length: 5804, dtype: int64

In [29]:
df['Area'].isnull().sum()

3299

In [30]:
df['Target'].isnull().sum()

0

In [48]:
df['Target'].value_counts()

Unknown                                                            7544
Pro-Houthi forces                                                  2123
Unknown_dupe                                                        820
Residential Area                                                    590
Pro-Houthi sites                                                    403
                                                                   ...
Pro-Houthi patrol                                                     1
The former president son Ahmed Ali office                             1
Near house (reportedly belonging to a Houthi leader Ali Jilhim)       1
Central security Military Camp                                        1
Moqis hospital                                                        1
Name: Target, Length: 2885, dtype: int64

In [49]:
df['Main category'].isnull().sum()

0

In [51]:
df['Area'].value_counts()

-                                         4360
The City                                   250
Al-Nahdain                                 247
Al-Rahabah                                 177
Al-Omary                                   145
                                          ...
Om Sheikh                                    1
Al Jar                                       1
Al-Areesh (Al-Rihab rounabout)               1
Al Sawabie island                            1
Qarn Sofah, Al-Daqiq valley, Al-Noqoub       1
Name: Area, Length: 5804, dtype: int64

In [52]:
df.head()

,Incident ID,Date,Governorate,District,Area,Target,Main category,Sub-category,Min Air Raids,Max Air Raids,Civilian Casualties,Fatalities,Woman fatalities,Child fatalities,Injured,Woman injured,Child injured,Confirmed Time,Time of Day,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,1,26/03/2015,Capital,Bani Al-Harith,Al-Rahabah,Al-Daylami Airbase,Military_Security_Target,Military Site,1,2.0,0,0,0,0,0,0,0.0,2,Early-Morning,NaN,NaN,NaN,NaN
1,2,26/03/2015,Capital,Bani Al-Harith,Airport,Sana'a International Airport,Infrastructure,Transport,1,2.0,0,0,0,0,0,0,0.0,2,Early-Morning,NaN,NaN,NaN,NaN
2,3,26/03/2015,Capital,Bani Al-Harith,Al-Sonblah Neighbourhood,Residential Area,Civilian,Residential Area,1,2.0,29,21,3,14,8,0,7.0,2,Early-Morning,NaN,NaN,NaN,NaN
3,4,26/03/2015,Capital,Al-Sab'ein,Al-Nahdain,Presidential Palace,Military_Security_Target,Military Site,1,2.0,0,0,0,0,0,0,0.0,3,Early-Morning,NaN,NaN,NaN,NaN
4,5,26/03/2015,Capital,Al-Thawrah,Al-Nahdhah,Former 1st Armoured Division,Military_Security_Target,Military Site,1,2.0,0,0,0,0,0,0,0.0,3,Early-Morning,NaN,NaN,NaN,NaN

In [53]:
df['Date'].isnull().sum()

0

In [55]:
pd.set_option('display.max_rows', None)

In [59]:
df['Time of Day'] = df['Time of Day'].str.lower()

In [62]:
df['Time of Day'] = df['Time of Day'].replace([' midday'], 'afternoon')

In [64]:
df['Time of Day'] = df['Time of Day'].replace(['midday'], 'afternoon')

In [66]:
df['Time of Day'] = df['Time of Day'].replace(['evening'], 'night')

In [67]:
df['Time of Day'] = df['Time of Day'].replace(['early-morning'], 'morning')

In [69]:
df['Time of Day'] = df['Time of Day'].replace(['early morning'], 'morning')

In [70]:
df['Time of Day'].value_counts()

night        6446
afternoon    6271
unknown      5915
morning      3853
Name: Time of Day, dtype: int64

In [76]:
df.columns

Index(['Incident ID', 'Date', 'Governorate', 'District', 'Area', 'Target',
       'Main category', 'Sub-category', 'Min Air Raids', 'Max Air Raids',
       'Civilian Casualties', 'Fatalities ', 'Woman fatalities',
       'Child fatalities', 'Injured ', 'Woman injured', 'Child injured',
       ' Confirmed Time', 'Time of Day', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [78]:
df.rename(columns = {' Confirmed Time':'confirmed_time', 'Fatalities ':'fatalities', 'Injured ':'injured'}, inplace=True)