In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('yemen.csv', encoding='cp1252')

In [3]:
df

,Incident ID,Date,Governorate,District,Area,Target,Main category,Sub-category,Min Air Raids,Max Air Raids,...,Child fatalities,Injured,Woman injured,Child injured,Confirmed Time,Time of Day,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,1,26/03/2015,Capital,Bani Al-Harith,Al-Rahabah,Al-Daylami Airbase,Military_Security_Target,Military Site,1,2,...,0,0,0,0.0,2,Early-Morning,NaN,NaN,NaN,NaN
1,2,26/03/2015,Capital,Bani Al-Harith,Airport,Sana'a International Airport,Infrastructure,Transport,1,2,...,0,0,0,0.0,2,Early-Morning,NaN,NaN,NaN,NaN
2,3,26/03/2015,Capital,Bani Al-Harith,Al-Sonblah Neighbourhood,Residential Area,Civilian,Residential Area,1,2,...,14,8,0,7.0,2,Early-Morning,NaN,NaN,NaN,NaN
3,4,26/03/2015,Capital,Al-Sab'ein,Al-Nahdain,Presidential Palace,Military_Security_Target,Military Site,1,2,...,0,0,0,0.0,3,Early-Morning,NaN,NaN,NaN,NaN
4,5,26/03/2015,Capital,Al-Thawrah,Al-Nahdhah,Former 1st Armoured Division,Military_Security_Target,Military Site,1,2,...,0,0,0,0.0,3,Early-Morning,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22480,22482,31/12/2020,Sanaa,Sanhan,Raymat Humayd Military Camp,Raymat Humayd Military Camp,Military_Security_Target,Military site,1,5,...,0,0,0,0.0,1,Early-Morning,0.0,0,0,Raymat Humayd Military Camp
22481,22483,31/12/2020,Sanaa,Sanhan,Raymat Humayd Military Camp,Raymat Humayd Military Camp,Military_Security_Target,Military site,1,2,...,0,0,0,0.0,2,Early-Morning,0.0,0,0,Raymat Humayd Military Camp
22482,22484,31/12/2020,Sanaa,Bani Hushaysh,Wadi Rijam,Unknown,Unknown,Unknown,1,2,...,0,0,0,0.0,3,Early-Morning,0.0,0,0,Wadi Rijam
22483,22485,31/12/2020,Capital,Bani Al-Harith,Ar Rahabah,Al-Daylami Air base,Military_Security_Target,Military site,1,1,...,0,0,0,0.0,1,Early-Morning,0.0,0,0,Ar Rahabah
22484,22486,31/12/2020,Marib,Medghal Al-Jeda'an,NaN,Unknown,Unknown,Unknown,1,4,...,0,0,0,0.0,18,Evening,0.0,0,0,NaN

In [4]:
df.isnull().sum()

Incident ID                0
Date                       0
Governorate                0
District                 238
Area                    3299
Target                     0
Main category              0
Sub-category               0
Min Air Raids              0
Max Air Raids              2
Civilian Casualties        0
Fatalities                 0
Woman fatalities           0
Child fatalities           0
Injured                    0
Woman injured              0
Child injured              2
 Confirmed Time          146
Time of Day                0
Unnamed: 19            22360
Unnamed: 20            22360
Unnamed: 21            22360
Unnamed: 22            22436
dtype: int64

In [27]:
len(df['Area'].unique())

5805

In [6]:
df.columns

Index(['Incident ID', 'Date', 'Governorate', 'District', 'Area', 'Target',
       'Main category', 'Sub-category', 'Min Air Raids', 'Max Air Raids',
       'Civilian Casualties', 'Fatalities ', 'Woman fatalities',
       'Child fatalities', 'Injured ', 'Woman injured', 'Child injured',
       ' Confirmed Time', 'Time of Day', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [7]:
#df = df.drop(columns=['Unnamed: 19', 'Unnamed: 20',
#       'Unnamed: 21', 'Unnamed: 22'])

In [8]:
df

,Incident ID,Date,Governorate,District,Area,Target,Main category,Sub-category,Min Air Raids,Max Air Raids,...,Child fatalities,Injured,Woman injured,Child injured,Confirmed Time,Time of Day,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,1,26/03/2015,Capital,Bani Al-Harith,Al-Rahabah,Al-Daylami Airbase,Military_Security_Target,Military Site,1,2,...,0,0,0,0.0,2,Early-Morning,NaN,NaN,NaN,NaN
1,2,26/03/2015,Capital,Bani Al-Harith,Airport,Sana'a International Airport,Infrastructure,Transport,1,2,...,0,0,0,0.0,2,Early-Morning,NaN,NaN,NaN,NaN
2,3,26/03/2015,Capital,Bani Al-Harith,Al-Sonblah Neighbourhood,Residential Area,Civilian,Residential Area,1,2,...,14,8,0,7.0,2,Early-Morning,NaN,NaN,NaN,NaN
3,4,26/03/2015,Capital,Al-Sab'ein,Al-Nahdain,Presidential Palace,Military_Security_Target,Military Site,1,2,...,0,0,0,0.0,3,Early-Morning,NaN,NaN,NaN,NaN
4,5,26/03/2015,Capital,Al-Thawrah,Al-Nahdhah,Former 1st Armoured Division,Military_Security_Target,Military Site,1,2,...,0,0,0,0.0,3,Early-Morning,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22480,22482,31/12/2020,Sanaa,Sanhan,Raymat Humayd Military Camp,Raymat Humayd Military Camp,Military_Security_Target,Military site,1,5,...,0,0,0,0.0,1,Early-Morning,0.0,0,0,Raymat Humayd Military Camp
22481,22483,31/12/2020,Sanaa,Sanhan,Raymat Humayd Military Camp,Raymat Humayd Military Camp,Military_Security_Target,Military site,1,2,...,0,0,0,0.0,2,Early-Morning,0.0,0,0,Raymat Humayd Military Camp
22482,22484,31/12/2020,Sanaa,Bani Hushaysh,Wadi Rijam,Unknown,Unknown,Unknown,1,2,...,0,0,0,0.0,3,Early-Morning,0.0,0,0,Wadi Rijam
22483,22485,31/12/2020,Capital,Bani Al-Harith,Ar Rahabah,Al-Daylami Air base,Military_Security_Target,Military site,1,1,...,0,0,0,0.0,1,Early-Morning,0.0,0,0,Ar Rahabah
22484,22486,31/12/2020,Marib,Medghal Al-Jeda'an,NaN,Unknown,Unknown,Unknown,1,4,...,0,0,0,0.0,18,Evening,0.0,0,0,NaN

In [29]:
df['Child injured'] = df['Child injured'].fillna(df['Child injured'].mean())
df['Max Air Raids'] = df['Max Air Raids'].fillna(df['Max Air Raids'].mean())

TypeError: can only concatenate str (not "int") to str

2       9435
1       5802
3       2237
4       1381
5        881
        ...
17+        1
250+       1
38         1
29         1
75         1
Name: Max Air Raids, Length: 86, dtype: int64

In [32]:
max_air_raids = []
for value in df['Max Air Raids']:
    if value != '-':
        val = int(value.strip('+'))
    elif value == 
    else:
        val = 0
    max_air_raids.append(val)

ValueError: invalid literal for int() with base 10: '2,2'

In [31]:
df.set_index('Incident ID')

,Date,Governorate,District,Area,Target,Main category,Sub-category,Min Air Raids,Max Air Raids,Civilian Casualties,...,Child fatalities,Injured,Woman injured,Child injured,Confirmed Time,Time of Day,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
Incident ID,,,,,,,,,,,,,,,,,,,,,
1,26/03/2015,Capital,Bani Al-Harith,Al-Rahabah,Al-Daylami Airbase,Military_Security_Target,Military Site,1,2,0,...,0,0,0,0.0,2,Early-Morning,NaN,NaN,NaN,NaN
2,26/03/2015,Capital,Bani Al-Harith,Airport,Sana'a International Airport,Infrastructure,Transport,1,2,0,...,0,0,0,0.0,2,Early-Morning,NaN,NaN,NaN,NaN
3,26/03/2015,Capital,Bani Al-Harith,Al-Sonblah Neighbourhood,Residential Area,Civilian,Residential Area,1,2,29,...,14,8,0,7.0,2,Early-Morning,NaN,NaN,NaN,NaN
4,26/03/2015,Capital,Al-Sab'ein,Al-Nahdain,Presidential Palace,Military_Security_Target,Military Site,1,2,0,...,0,0,0,0.0,3,Early-Morning,NaN,NaN,NaN,NaN
5,26/03/2015,Capital,Al-Thawrah,Al-Nahdhah,Former 1st Armoured Division,Military_Security_Target,Military Site,1,2,0,...,0,0,0,0.0,3,Early-Morning,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22482,31/12/2020,Sanaa,Sanhan,Raymat Humayd Military Camp,Raymat Humayd Military Camp,Military_Security_Target,Military site,1,5,0,...,0,0,0,0.0,1,Early-Morning,0.0,0,0,Raymat Humayd Military Camp
22483,31/12/2020,Sanaa,Sanhan,Raymat Humayd Military Camp,Raymat Humayd Military Camp,Military_Security_Target,Military site,1,2,0,...,0,0,0,0.0,2,Early-Morning,0.0,0,0,Raymat Humayd Military Camp
22484,31/12/2020,Sanaa,Bani Hushaysh,Wadi Rijam,Unknown,Unknown,Unknown,1,2,0,...,0,0,0,0.0,3,Early-Morning,0.0,0,0,Wadi Rijam
22485,31/12/2020,Capital,Bani Al-Harith,Ar Rahabah,Al-Daylami Air base,Military_Security_Target,Military site,1,1,0,...,0,0,0,0.0,1,Early-Morning,0.0,0,0,Ar Rahabah
22486,31/12/2020,Marib,Medghal Al-Jeda'an,NaN,Unknown,Unknown,Unknown,1,4,0,...,0,0,0,0.0,18,Evening,0.0,0,0,NaN